:root {
  --color-green-dark: #32A67B;
  --color-green-2: #49BF7C;
  --color-green-light: #5ABF61;
  --color-green: #84BF2C;
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

em {
  font-weight: bold;
  font-style: italic;
  color: red;
}

li { 
  list-style-type: none;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
}

footer {
  width: 100%;
  right: 100%;
  background-color: #83CF25;
}