.navbar {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
}

.navbar-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-space-list {
  display: inline-flex;
}

.navbar-ul-li {
  margin: 0 20px 0 20px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-ul-li:hover {
  text-decoration: underline;
}

.search-input-text {
  /* Altura */
  height: 24px; 
  padding-left: 5px;
}

.navbar-ul-li.search {
  display: flex;
}

.search-button {
  background-color: var(--color-green-light);
  height: 24px;
  border: none;
  width: 50px;
  font-weight: bold;
}

.p-published {
  text-align: center;
  font-style: italic;
}

.section-body {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.div-main {
  display: inline-block; 
  border: 1px solid lightgrey;
  width: 46%; 
  height: 600px;
  max-height: 600px;
  margin: 20px 25px 40px 25px;
  padding: 5px;
  -webkit-box-shadow: 3px 2px 15px -1px grey; 
  box-shadow: 3px 2px 15px -1px grey;
  border-radius: 8px;
}

.img-main {
  margin: 40px 20px 20px 70px;
}

.footer-bar {
  display: flex;
  color: white;
  justify-content: space-around;
}

.footer-bar-list {
  margin: 20px 100px 20px 100px;
  width: 100%;
  line-height: 40px;
}

.footer-bar-ul-li:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
  width: fit-content;
  display: block;

}

#image-redes {
  width: 60%;
}
